In [ ]:
# Bac 2 - 1

A,B = input().split()

if A > B :
    print(">")
elif A < B :
    print("<")
else :
    print("==")

5 5
==

In [ ]:
# Bac 2 - 1

A,B = map(int, input().split())

if A > B :
    print(">")
elif A < B :
    print("<")
else :
    print("==")

## map이 있고 없고가 무슨차이 인가?

In [ ]:
# Bac 2- 2

user = input()
user = int(user)

if 90 <= user <= 100 :
    print("A")
elif 80 <= user <= 89 :
    print("B")
elif 70 <= user <= 79 :
    print("c")
elif 60 <= user <= 69 :
    print("D")
else :
    print("F")

## 문제가 원하는 답은

# user = int(input())

55
F

In [ ]:
# Bac 2 - 3

user = int(input())

if (user % 4 == 0) and (user%100 != 0) :
    print("1")
else :
    print("0")

## 틀림

2000
0

In [ ]:
# Bac 2 - 3


user = int(input())

if ((user % 4 == 0) and (user%100 != 0)) or (user%400 == 0):
    print("1")
else :
    print("0")

2000
1

In [ ]:
# Bac 2 - 4

x = int(input())
y = int(input())

if x > 0 and y > 0 :
    print("1") 
elif x < 0 and y > 0 :
    print("2")
elif x < 0 and y < 0 :
    print("3")
else :
    print("4")

9
-13
4

In [ ]:
# Bac 2 -5 
# 시간은 어떻게 표현??

import datetime as dt

dt.datetime.now()

datetime.datetime(2022, 4, 21, 8, 42, 27, 471363)

In [ ]:
# Bac 2 -5 시간 표현
import datetime as dt

H, M = input().split()
A = f"{H} : {M}"

d = dt.datetime.strptime(A,"%H : %M")

alarm = d - dt.timedelta(minutes=45)
print(alarm.strftime("%H : %M"))

0 30
23 : 45

In [2]:
# Bac 2 -5 시간 표현
import datetime as dt

H, M = input().split()

d = dt.datetime.strptime(f"{H} : {M}","%H : %M")

alarm = d - dt.timedelta(minutes=45)
print(alarm.strftime("%H : %M"))

0 30
23 : 45

In [ ]:
# Bac 2 -6 오븐구이
import datetime as dt

H, M = input().split()
B = int(input())
A = f"{H} : {M}"

d = dt.datetime.strptime(A,"%H : %M")

alarm = d + dt.timedelta(minutes=B)
print(alarm.strftime("%H : %M"))

10 20
20
10 : 40

In [13]:
# Bac 2 - 7
A = map(int, input().split(" "))

my_list = []
for i in A :
    my_list.append(i)
my_list = set(my_list)

if len(my_list) == 1 :

## 중복 지워버리면 2개가 같을때 어떤 수를 곱할지 찾을 수 없음.

1 1 3

{1, 3}

In [14]:
# Bac 2 - 7
a, b, c = map(int, input().split())

if a == b == c:
    print(10000 + (a * 1000))
elif a == b or b == c:
    print(1000 + (b * 100))
elif a == c:
    print(1000 + (a * 100))
else:
    print(max(a, b, c) * 100)

1 2 3
300