## K번째 수 ##

In [ ]:
def solution(array, commands):
    answer = []
    for i in range(len(commands)):
        answer.append(sorted(array[commands[i][0]-1:commands[i][1]])[commands[i][2]-1])
    return answer

##이코테##

In [ ]:
#위에서 아래로
n = int(input())
print(sorted(array))

In [11]:
#성적이 낮은 순서로 학생 출력
n = int(input())
a=[]
for i in range(n): 
  m = input().split()
  a.append((m[0],int(m[1])))
print(sorted(a, key = lambda x:x[1]))

2
홍길동 34
이순신 35
[('홍길동', 34), ('이순신', 35)]

In [12]:
#두 배열의 원소 교체
n,k = map(int,input().split())
a = list(map(int,input().split()))
b = list(map(int,input().split()))

a.sort()
b.sort(reverse=True)

for i in range(k):
  if a[i] < b[i]:
    a[i],b[i] = b[i],a[i]
  else: break
print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26